/* import google font*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


body {
    display: inline-block;
    background-color:#9ab3f5;
    background-size: auto;
    margin: 10px;
    font-family: 'PT Sans', sans-serif;

    }

    .card {
      border: 2px solid black;
      border-radius: 8px;
      text-align: left;
      padding-left: 10px;
      line-height: 1.5em;
    }

  .Parcel_id{
    word-spacing: 3.8em;
  }

  .Status{
    word-spacing: 5em;
  }

  .ETA{
    word-spacing: 5.9em;
  }

  .Sender-Name{
    word-spacing: 1.7em;
  }

  .Location{
    word-spacing: 3.9em;
  }

  .Last-Updated{
    word-spacing: 1.7em;  
  }
  
.title{
  text-align: center;
  color:#463333
}

@media (min-width: 750px){
  body {
    display: block;
    background-color: #9ab3f5;
    background-size: auto;
    margin: 10px;

    }
}


@media only screen and (min-width: 660px) {
  .box{
    margin: auto;
    width: 50%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    text-align: center;
  }
}

  